@media print { 
    
.navigation ul li { display: none; } 
 
body { color: #000000; background-color: #ffffff; }

p { font-family: "Georgia", "Arial", "San-serif"; font-size: 12pt; }

a {display:none; }

a:link { color: blue; text-decoration: underline; } 
a:visited { color: #0000cc; text-decoration: underline; }

.video video {display:none;}

.header {background-image:none;} 

.kevin {display:none;}
.vektor {display:none;}

body .content {border:none;}
body .footer {border:none;}
body .header {border:none;}
body .navigation {border:none;}
    
.liststyle_2 {padding: 0px;
    list-style-type: none;}    
.printLink {display: inline; font-style: italic;}
.printLink2 {display:none;}

.content {
    margin-top:-400px;
    width: 90%;
}
 
.bild_pa_mig{
    display:none;
}

fieldset{
    border:none;
}

.logotype{
    display:none;
}
    
}
